a {
    text-decoration: none;
    color: black;
}

header a {
    font-size: 2rem;
    font-weight: 600;
    display: block;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-1, .link-2, .link-3 {
    visibility: hidden; 
}
